<ul class="post-list">
    {{!-- any HTML between #each repeated for every item in posts --}}
    {{#each posts as |post|}}
  <li>
    {{!-- indicates that the post-info template should be included --}}
{{>post-info post}}
  </li>
  {{/each}}
</ul>