<form class="login-form">
  <div>
    <h1 class="existing-user">Existing User</h1>
  </div>
  <div class="email-exisiting-user">
    <label for="email-login">Email</label>
    <input type="text" id="email-login" />
  </div>
  <div class="password-existing">
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
  </div>
  <div class="existing-btn">
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <h1 class="new-user">New Users Please Sign Up</h1>
  </div>
  <div class="username-new-user">
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="email-new-user">
    <label for="email-signup">Email</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="password-new-user">
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="new-btn">
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/login.js"></script>