* {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: rgb(16, 158, 158);
}

.page-name {
  background-color: rgb(102, 43, 156);
}

header {
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.login-form {
  margin-top: 2em;
}

.signup-form {
  margin-top: 5em;
}

.existing-user {
  text-align: center;
  font-size: 30px;
  color: white;
}

.email-exisiting-user {
  text-align: center;
}

.password-existing {
  text-align: center;
}

.existing-btn {
  text-align: center;
}

button {
  background-color: black;
  color: white;
}

.new-user {
  text-align: center;
  font-size: 30px;
  color: white;
}

.username-new-user {
  text-align: center;
}

.email-new-user {
  text-align: center;
}

.password-new-user {
  text-align: center;
}

.new-btn {
  text-align: center;
}
